/*vue消除印花*/
[v-cloak] {
  display: none;
}
/* css初始化 */
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body,
a,
i,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
img,
form,
input,
select,
button,
textarea,
dl,
dt,
dd,
header,
footer,
section,
article,
nav {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font: normal normal normal 14px/1.5 'Microsoft YaHei', Arial, Helvetica, sans-serif;
  color: #333;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
i {
  display: block;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
embed,
iframe {
  width: 100%;
}
select,
input,
button,
textarea {
  outline: none;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  resize: none;
  -webkit-appearance: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
select {
  background: #fff;
}
/*一致样式*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex_around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}
.flex_between {
  display: box;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-pack: justify;
  box-pack: justify;
  /* 12版 */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  /* 09版 */
  -webkit-box-align: center;
  /* 12版 */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.flex_star {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  /* 09版 */
  -webkit-box-pack: start;
  /* 12版 */
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  /* 09版 */
  -webkit-box-align: center;
  /* 12版 */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.flex_center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.flex_end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}
.vertical_m {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.flex_column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*背景渐变色*/
.grad1 {
  background: -webkit-linear-gradient(left, #FF9648, #FF302D);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #FF9648, #FF302D);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #FF9648, #FF302D);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FF9648, #FF302D);
  /* 标准的语法（必须放在最后） */
  color: #fff;
}
.grad2 {
  background: -webkit-linear-gradient(left, #FD8804, #FF5100);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #FD8804, #FF5100);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #FD8804, #FF5100);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FD8804, #FF5100);
  /* 标准的语法（必须放在最后） */
  color: #fff;
}
/*居中*/
.pos_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.center_x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 设置边距 */
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}
.p10 {
  padding: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.m5 {
  margin: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mb20 {
  margin-right: 20px;
}
.mt30 {
  margin-top: 30px;
}
/* interval margin & padding */
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.p10 {
  padding: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.p20 {
  padding: 20px;
}
/* font */
.bold {
  font-weight: 700;
}
.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft24 {
  font-size: 24px;
}
.clr3 {
  color: #333333;
}
.clr3a a {
  color: #333333;
}
.clr6 {
  color: #666666;
}
.clr6a a {
  color: #666666;
}
a.clr3:hover,
a.clr6:hover,
.clr3a a:hover,
.clr6a a:hover {
  color: #e93100;
}
.gray {
  color: #999999;
}
.green {
  color: #7CAF00;
}
.red {
  color: #558c11;
}
.orange {
  color: #ff6600;
}
.blue {
  color: #3b4a82;
}
.ofh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
